{% extends "admin/base.html.twig" %}
{% block title %}Ajouter un éditeur{% endblock %}

{% block main %}

    {{form_start(imageForm)}}

    <table>
        <tr>
            <td colspan="2"><legend>Ajouter une image :</legend></td>
        </tr>
        <tr>
            <td colspan="2"><hr></td>
        </tr>
        <tr>
            <td style="text-align : end; padding : 5px">{{form_label(imageForm.src, 'Image', {'label_attr' : {'class' : 'label'}})}}</td>
            <td>{{form_widget(imageForm.src, {'attr' : {'size' : '22'}})}}</td>
        </tr>
        <tr>
            <td style="text-align : end; padding : 5px">{{form_label(imageForm.title, 'Titre', {'label_attr' : {'class' : 'label'}})}}</td>
            <td>{{form_widget(imageForm.title, {'attr' : {'size' : '22'}})}}</td>
        </tr>
        <tr>
            <td style="text-align : end; padding : 5px">{{form_label(imageForm.alt, 'Alt', {'label_attr' : {'class' : 'label'}})}}</td>
            <td>{{form_widget(imageForm.alt, {'attr' : {'size' : '22'}})}}
</td>
        </tr>
        <tr>
            <td style="text-align : end; padding : 5px">{{form_label(imageForm.comic, 'Bande dessinée', {'label_attr' : {'class' : 'label'}})}}</td>
            <td>{{form_widget(imageForm.comic)}}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{form_widget(imageForm.Enregistrer, {'attr' : {'class' : 'button'}})}}</td>
        </tr>
    </table>

    {{form_end(imageForm)}}

{% endblock %}